* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  &:link {
    color: inherit;
  }
}

html,
body,
#app {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

body,
#app {
  flex-grow: 1;
}

html {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 100%;

  overflow-y: scroll;

  height: 100%;

  color: $black;
  background-color: $white;
}

body {
  position: relative;

  font-size: 14px;
  line-height: 17px;

  min-width: 356px;
}

h1,
h3,
ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;

  &:not([class]) {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

button,
select,
input {
  &:focus {
    outline: 0;
  }
}

input,
button {
  padding: 0;

  color: inherit;
  border: 0;
  border-radius: 0;
  background: transparent;
}

button {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;

  cursor: pointer;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;

  border: 0;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}
